@import "tailwindcss";

:root {
  --background: #fafafa;
  --background-elements: #ffffff;
  --color: #111517;
  --input: #858585;
}

.dark {
  --background: 	#202c37;
  --background-elements: 	#2b3945;
  --color: 	#ffffff;
  --input: #ffffff;
}


body {
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}